      <html>
      <meta charset="UTF-8">
      <html lang="en">
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Aula 10/07</title>
        </head>
        <body>
            
<html>
<form method="post" action="/resultado">
   Insira a Massa Molar e a Massa Dada, respectivamente:
    <br>
    <input type="number" id="MM" name="MM">
    <br>
    <input type="number" id="md" name="md">
    <input type="submit" id="cont" name="div" value="calcular">
</body>
</form>
<%=result%>
</html>
