      <html>
      <meta charset="UTF-8">
      <html lang="en">
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Aula 10/07</title>
        </head>
        <body>
            
      
    
<script>
    function Div(){
var m = x.value
var M = y.value
var op = x/y
 resultado = conta
 cont.innerHTML = ()
    }
</script>
<html>
<form action="/resultado" method="post">
    Insira os Valores:
    <br>
    Valor de m:
    <input type="number" id="M" name="M">
    <br>
    Valor de M:
    <input type="number" id="m" name="m">
    <input type="button" id="divide" name="divisão" onclick="Div()">
</form>
<p id="resultado">N = m/M</p>
</body>
</html>