<!DOCTYPE html>
 <head>
  <meta charset="UTF-8">
  <title>Calculadora</title>
  <script>
   function soma() {
    result = parseFloat(v1.value) + parseFloat(v2.value);
    document.getElementById("somaresult").innerHTML = result;
   }
   function sub() {
    result = parseFloat(v1.value) - parseFloat(v2.value);
    document.getElementById("subresult").innerHTML = result;
   }
   function mult() {
    result = parseFloat(v1.value) * parseFloat(v2.value);
    document.getElementById("multresult").innerHTML = result;
   }
   function div() {
    result = parseFloat(v1.value) / parseFloat(v2.value);
    document.getElementById("resultado").innerHTML = result;
   }
  </script>
 </head>
 <body>
   <form action="/soma" method="get">
        <h1>Digite 2 valores para serem somados</h1>
        <label> Val 1: </label>
        <input id="v1" name="v1" />
        <label> Val 2: </label>
        <input id="v2" name="v2" />
        <button type="submit" >Somar</button>
        <h1 id="somaresult"></h1>
    </form>
    <br>

    <form action="/sub" method="get">
        <h1>Digite 2 valores para serem subtraídos</h1>
        <label> Val 1: </label>
        <input id="v1" name="v1" />
        <label> Val 2: </label>
        <input id="v2" name="v2" />
        <button type="submit" >Subtrair</button>
        <h1 id="subresult"></h1>
    </form>
    <br>

    <form action="/mult" method="get">
        <h1>Digite 2 valores para serem multiplicados</h1>
        <label> Val 1: </label>
        <input id="v1" name="v1" />
        <label> Val 2: </label>
        <input id="v2" name="v2" />
        <button type="submit" >Multiplicar</button>
        <h1 id="multresult"></h1>
    </form>
    <br>

    <form action="/div" method="get">
        <h1>Digite 2 valores para serem divididos</h1>
        <label> Val 1: </label>
        <input id="v1" name="v1" />
        <label> Val 2: </label>
        <input id="v2" name="v2" />
        <button type="submit" >Dividir</button>
        <h1 id="divresult"></h1>
    </form>

 </body>
</html>
